@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
/* Use custom styling here */
:root {
    --page-padding-x: calc(
        (100dvw - min(80dvw, 128ch)) / 4
      );

}




#hamburger[type=checkbox]:checked + label{
   #top-bar{
        transform: translateY(8px) rotate(-42deg) ;
        transform-origin: center center;

      

    }
   #bottom-bar{
        transform: translateY(-8px) rotate(42deg) ;
        transform-origin: center center;



    }

    #middle-bar{
        transform: translatex(-20px);
        opacity: 0;


    }

    #dropdown-menu{
        @apply opacity-0;
    }

}

/* #hamburger{
    transform-origin: center;
    
}
 #Middle{
    transition: all .5s ease;
    -webkit-transition-duration: 0.2s; 
    transform: translateX(5%);
    opacity: 0;
    display: none;
}
 #Lower{
    transition: all .5s ease;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
    transform: rotate(30deg);
    transform-origin: center;
  
} */


*{
    margin: 0;
    --black-color: #1f1f1f;
    --primary-color: #597A59;
    font-family: Verdana, sans-serif;
    scroll-behavior: smooth;


}

body{
    /* padding-right: var(--page-padding-x);
    padding-left: var(--page-padding-x); */
    /* @apply px-[64px]; */
}

/* Button */

inner-nav > ul > li{

&.dark{color:white;}
}


nav > a:last-child {
    font-size: clamp(0.75rem, 1dvw, 1.25rem);
}

/* Links */
li{
    @apply uppercase py-3 px-2 ;
    font-size: clamp(0.875rem, 1dvw - 0.075rem, 1.25rem);
}

/* Logo */

#logo{

    width: clamp(72px, 9.6vw, 96px);
}



/* ---- */


/* *Hero */

.action-btn-hero{
    @apply bg-[var(--primary-color)] py-3 px-6 text-white  flex gap-2  font-extrabold uppercase ;
    font-family: 'Roboto Slab', serif;  
    font-size: clamp(1rem, 1dvw + 0.313rem , 1.5rem); 

}


/* card reviewws */
reviewer-img{
@apply max-w-[42px] max-h-[42px] rounded-full border-2  border-[#F7F7F7];
}



.fa-star{
    @apply text-yellow-300 ;
    
}

stars-code > p{
    font-family: 'Roboto Slab', serif; 

}

container > container-right{
    /* background-color: green; */
    width: clamp(300px, 40dvw, 35%);
    height: auto;
   
}
.glide__slide{
    filter: grayscale(  );
    
    opacity: 0.6;
}

.glide__slide--active{
    filter:none;
    transition: all 0.5s ease-in;
    opacity: 100;
    height: 10px;
}

.glide__slide--active img{
    transition: all 0.5s lineair;
    @apply shadow-lg shadow-slate-300 -translate-y-1 duration-500 ease-linear;
}



h1, h2, h3, span{
    @apply uppercase font-black ;
    font-family: 'Roboto Slab', serif; 
}


h1{
    
    font-size: clamp(1rem, 1dvw + 2.4rem, 4rem);
    line-height: clamp(1rem, 3dvw + 2rem,  4rem);
    @apply md:text-center;
}

h2{
 
    font-size: clamp(2rem, 1dvw + 2.5rem, 6rem);
    line-height: clamp(2rem, 3dvw + 2rem, 4rem);
    color: var(--black-color);

   
    
}



/* ABOUT */
section:first-of-type{
    /* background-color: green;
    box-shadow: 25dvw 0px 0px 0px var(--black-color),
     -25dvw 0px 0px 0px var(--black-color); */
}
section:first-of-type > *{
    color: white;
}

section:first-of-type  img{
    height: clamp(180px, 50dvw - 12.5rem, 500px);
    
}



/* HAIRCUTS */

section:nth-of-type(2) gallery img{
    width: clamp(200px, 60svw - 12.5rem, 350px);
    max-height: clamp(180px, 60svw - 12.5rem, 280px);;
  
    @apply  overflow-hidden  object-cover  ;
}




/* PRICING & SERVICES */
section:nth-of-type(3) h2, section:nth-of-type(4) h2 {
    font-size: clamp(1.75rem, 1dvw + 2rem, 6rem);
    line-height: clamp(1.75rem, 3dvw + 1.75rem, 4rem);
    color: var(--black-color);


   
}
/* Academy */
section:nth-of-type(5) h2{
    font-size: clamp(1.75rem, 1dvw + 2rem, 6rem);
    line-height: clamp(1.75rem, 3dvw + 1.75rem, 4rem);



   
}


iframe{
    @apply w-full;
}


/* CONTACT */



h3{
 
    font-size: clamp(2rem, 4rem, 6rem);
    line-height: clamp(3rem, 4rem, 6rem);
    
}

h4{
    font-size: clamp(1rem, 1.25dvw + 0.5rem, 2rem);
    @apply md:text-center w-full;
    font-family: 'Roboto Slab', serif; 
}

h5{
    font-size: clamp(2rem, 1.5rem, 6rem);
    line-height: 2rem;
}
p{
    
    
    font-size: clamp(1rem, 1dvw + 0.350rem, 1.5rem);
    line-height: 1.5rem;
    max-width: 50ch;
    
    
}
footer > p{
    font-size: clamp(0.75rem, 1dvw + 0.350rem, 1rem);
    line-height: 1rem;
}

footer p > a{
    font-family: 'Mitr', sans-serif;
    text-decoration: none;
    @apply uppercase font-black  hover:text-[#FFD15B];
   
}

h1 > span, h2 > span, h3 > span{
 @apply text-[--primary-color];
}



.action-btn{
    @apply bg-[var(--primary-color)] py-3 px-4 text-white  flex gap-2  place-items-center  justify-center font-extrabold uppercase ;
    font-family: 'Roboto Slab', serif;  
}
.action-btn-contact{
    @apply bg-[var(--black-color)] py-3 px-6 text-white  flex gap-2  place-items-center  justify-center font-extrabold uppercase ;
    font-family: 'Roboto Slab', serif;  
}

.action-btn-whatsapp{
    font-family: 'Roboto', serif;    
  
}


.btn-icon{
    width: min(24px, 32px) ;
}








